[Unit]
Description=Gunicorn server for 8.140.61.226

[Service]
Restart=on-failure
User=host
WorkingDirectory=/home/host/sites/8.140.61.226/suplerlists
ExecStart=/home/host/sites/8.140.61.226/gunicorn suplerlists.wsgi:application

[Install]
WantedBy=multi-user.target